<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activity.rprs.com.daycaremain">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TecCheckinActivity"></activity>
        <activity android:name=".RegiPhoneActivity" />
        <activity android:name=".RegiEmailActivity" />
        <activity
            android:name=".RegcommonActivity"
            android:theme="@style/AppTheme2">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ChildsActivity" />
        <activity android:name=".ParentsfeedActivity" />
        <activity
            android:name=".CommonActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".TeacherhomeActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TecattendanceActivity" />
        <activity android:name=".TecBulkActivity" />
        <activity android:name=".TecBulklistActivity" />
        <activity
            android:name=".TecbulkfraglistActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".ParentHomeActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ParInboxActivity" />
        <activity android:name=".ParPdfdownloadActivity" />
        <activity android:name=".ParChatteachActivity" />
        <activity android:name=".ParPaymentActivity" />
        <activity android:name=".ParLeaveActivity" />
    </application>

</manifest>